<div class="title-container">
  <h1>Proyecto Quick Cash</h1>
</div>

<div class="form-container">
  <div class="form-data">

    <!-- ? Input -->
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Edad</label>
      <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Edad">
    </div>

    <!-- ? Input -->
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Ingreso Anual</label>
      <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Dolares">
    </div>

    <!-- ? Input -->
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Tiempo trabajado</label>
      <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Años">
    </div>

    <!-- ? Input -->
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">¿Cuanto vas a prestar?</label>
      <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Dolares">
    </div>

    <!-- ? Input -->
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Tasa de interés</label>
      <input type="number" class="form-control" id="formGroupExampleInput" placeholder="%">
    </div>

    <!-- ? Input -->
    <div class="mb-3"> 
      <label for="formGroupExampleInput" class="form-label">Porcentaje del préstamo respecto al ingreso</label>
      <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Edad">
    </div>

    <a class="btn btn-primary">Calcular</a>
  </div>

  <h1>resultado</h1>


</div>